<ion-view view-title="Robot controller">
  <ion-content class="padding">
    <!--<img src="http://192.168.1.18:8080/?action=stream">-->
    <h2>Robot </h2>s
    <button class="button button-balanced" ng-click="up()">Tới</button>
    <button class="button button-balanced" ng-click="down()">Xuống</button>
    <button class="button button-balanced" ng-click="left()">Trái</button>
    <button class="button button-balanced" ng-click="right()">Phải</button>
    <div id="videoContainer" style="width: 300px; height: 300px;"></div>
  </ion-content>
</ion-view>
