<ion-view view-title="Robot controller">
  <ion-content class="padding">
<!-- 
    <div class="content" ng-class="{ 'landscape': !isPortrait }">
      <img src="http://192.168.1.21:8080/?action=stream"> 
     <img class="stream_img" src="img/ionic.png" />
    </div>

    <div class="content" ng-class="{ 'landscape': !isPortrait }">
     <button class="button button-balanced" ng-click="up()">Tới</button>
      <button class="button button-balanced" ng-click="down()">Xuống</button>
      <button class="button button-balanced" ng-click="left()">Trái</button>
      <button class="button button-balanced" ng-click="right()">Phải</button>
      <div class="joystick">
      	<angular-joystick  coords="coords" on-move="joystickMove()"></angular-joystick>
      </div>
    </div>
    -->

    <div class="content">
        <div>
            <div ng-class="{'stream_img_landscape' : isPortrait==false , 'stream_img_portrait' : isPortrait==true}" id="videoContainer"></div>
        </div>
        <div ng-class="{'joystick_landscape' : isPortrait==false , 'joystick_portrait' : isPortrait==true}" class="joystick">
            <angular-joystick  coords="coords" on-move="joystickMove()"></angular-joystick>
        </div>

    </div>

  </ion-content>
</ion-view>
